* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* For Main Container */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* position: relative; */
}

/* For Heading */
.heading {
  font-size: xx-large;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

/* For Input Component */
.input-container {
  padding: 2rem;
  border: 2px solid black;
  border-radius: 1rem;
}
.input-box {
  font-size: larger;
  padding: 5px 10px;
  outline: none;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  margin: 10px;
  flex-grow: 1;
}
.start-btn {
  background-color: burlywood;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  width: 100%;
  font-weight: 500;
  font-size: large;
  transition-duration: 300ms;
}
.start-btn:hover {
  cursor: pointer;
  scale: 1.05;
  background-color: coral;
}

/* For Input divs */
.input-label {
  font-weight: bold;
  flex-grow: 1;
  font-size: large;
}
.input-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* For Lifts */
.lift-container {
  display: flex;
  margin-top: -100px;
}
.lift-view {
  min-height: 140px;
  background-color: beige;
  /* background-color: rgb(234, 234, 234); */
  width: 100%;
  border-bottom: 3px solid black;
  display: flex;
  align-items: flex-end;
}
.lift {
  height: 100px;
  width: 50px;
  background-color: rgb(101, 101, 253);
  border-radius: 0.5rem;
  margin-left: 1rem;
  /* position: absolute; */
  /* display: flex; */
  overflow: hidden;
}

/* For lift doors */
.lift-door {
  width: 50%;
  height: 100%;
  position: relative;
}
.lift-door-left {
  background-color: brown;
  float: left;
}
.lift-door-right {
  background-color: brown;
  float: right;
}

/* For Floors */
.floor {
  display: flex;
  align-items: flex-end;
  margin-top: 1rem;
  width: 100%;
  max-width: 1200px;
}
.text-box {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: larger;
  margin-left: 1rem;
  min-width: fit-content;
}
.btn-view {
  padding: 10px;
  height: 50px;
  display: flex;
  flex-direction: column;
}
.btn-up {
  background-color: rgb(140, 220, 20);
  border: none;
  border-radius: 0.2rem;
  padding: 0.1rem 1rem;
  font-size: large;
  font-weight: 500;
  margin-bottom: 0.2rem;
  cursor: pointer;
  transition-duration: 200ms;
}
.btn-down {
  background-color: rgb(218, 168, 30);
  border: none;
  border-radius: 0.2rem;
  padding: 0.1rem 1rem;
  font-size: large;
  cursor: pointer;
  font-weight: 500;
  transition-duration: 200ms;
}
.btn-up:hover {
  background-color: lightgreen;
}
.btn-down:hover {
  background-color: orange;
}

/* For Footer */
.footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: large;
  font-weight: normal;
}
.link {
  color: rgb(120, 15, 218);
}

.hide {
  visibility: hidden;
}
